<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter_By_Name</title>
</head>
<body>
{% block content %}
  <h1>View Expenses</h1>
  <form method="get" action="{% url 'filter_by_name' %}">
    <label for="search_name">Search by Expense Name:</label>
    <input type="text" name="search_name" id="search_name">
    <input type="submit" value="Search Expense by Name">
  </form>
<table>
    <tr>

        <th>Name</th>
      <th>Category</th>
      <th>Date of Expense</th>
      <th>Amount</th>
      <th>Updated at</th>
      <th>Created by</th>
      <th>Actions</th>
    </tr>
    {% for expense in expenses %}
    <tr>

    <td>{{ expense.user_name }}</td>
      <td>{{ expense.category }}</td>
      <td>{{ expense.date_of_expense }}</td>
      <td>{{ expense.amount }}</td>
      <td>{{ expense.updated_at }}</td>
     <td>{% if expense.user == request.user %}me{% else %}{{ expense.user.email }}{% endif %}</td>
      <td>
        {% if request.user.is_superuser or expense.user == request.user %}
          <a href="{% url 'edit_expense' expense.id %}"><i class="fas fa-edit"></i></a>
          <a href="{% url 'delete_expense' expense.id %}" onclick="return confirm('Are you sure you want to delete this expense?')"><i class="fas fa-trash-alt"></i></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
</body>
</html>